In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/fred_data.csv')

In [7]:
df.head()

,DATE,A067RL1Q156SBEA,A067RL1Q156SBEA_CCA,A067RL1Q156SBEA_CCH,A067RL1Q156SBEA_CH1,A067RL1Q156SBEA_CHG,A067RL1Q156SBEA_LOG,A067RL1Q156SBEA_PC1,A067RL1Q156SBEA_PCA,A067RL1Q156SBEA_PCH,...,PCEC_PCH,TDSP,TDSP_CCA,TDSP_CCH,TDSP_CH1,TDSP_CHG,TDSP_LOG,TDSP_PC1,TDSP_PCA,TDSP_PCH
0,1947-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947-04-01,-3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947-07-01,11.1,NaN,NaN,NaN,14.9,2.4,NaN,7180.4,-392.1,...,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947-10-01,-5.5,NaN,NaN,NaN,-16.6,NaN,NaN,-94.0,-149.5,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948-01-01,7.7,NaN,NaN,NaN,13.2,2.0,NaN,284.2,-240.0,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Clean data
df_rename = df.rename({'DATE':'quarter'}, axis=1)
df_rename.head()

,quarter,A067RL1Q156SBEA,A067RL1Q156SBEA_CCA,A067RL1Q156SBEA_CCH,A067RL1Q156SBEA_CH1,A067RL1Q156SBEA_CHG,A067RL1Q156SBEA_LOG,A067RL1Q156SBEA_PC1,A067RL1Q156SBEA_PCA,A067RL1Q156SBEA_PCH,...,PCEC_PCH,TDSP,TDSP_CCA,TDSP_CCH,TDSP_CH1,TDSP_CHG,TDSP_LOG,TDSP_PC1,TDSP_PCA,TDSP_PCH
0,1947-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947-04-01,-3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947-07-01,11.1,NaN,NaN,NaN,14.9,2.4,NaN,7180.4,-392.1,...,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947-10-01,-5.5,NaN,NaN,NaN,-16.6,NaN,NaN,-94.0,-149.5,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948-01-01,7.7,NaN,NaN,NaN,13.2,2.0,NaN,284.2,-240.0,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Update values in 'quarter' column to have the format: YYYYQ1-4. Example: 1970Q1

def map_quarter(s):
    quarter = ''
    month = s.split('-')[1]
    year = s.split('-')[0]
    
    if month == '01':
        quarter = '1'
    elif month == '04':
        quarter = '2'
    elif month == '07':
        quarter = '3'
    elif month == '10':
        quarter = '4'
        
    x = year + 'Q' + quarter
    
    return x

df_rename['quarter'] = df_rename['quarter'].apply(map_quarter)
df_rename.head()

,quarter,A067RL1Q156SBEA,A067RL1Q156SBEA_CCA,A067RL1Q156SBEA_CCH,A067RL1Q156SBEA_CH1,A067RL1Q156SBEA_CHG,A067RL1Q156SBEA_LOG,A067RL1Q156SBEA_PC1,A067RL1Q156SBEA_PCA,A067RL1Q156SBEA_PCH,...,PCEC_PCH,TDSP,TDSP_CCA,TDSP_CCH,TDSP_CH1,TDSP_CHG,TDSP_LOG,TDSP_PC1,TDSP_PCA,TDSP_PCH
0,1947Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947Q2,-3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947Q3,11.1,NaN,NaN,NaN,14.9,2.4,NaN,7180.4,-392.1,...,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947Q4,-5.5,NaN,NaN,NaN,-16.6,NaN,NaN,-94.0,-149.5,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948Q1,7.7,NaN,NaN,NaN,13.2,2.0,NaN,284.2,-240.0,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 100 columns):
quarter                332 non-null object
A067RL1Q156SBEA        289 non-null float64
A067RL1Q156SBEA_CCA    218 non-null float64
A067RL1Q156SBEA_CCH    218 non-null float64
A067RL1Q156SBEA_CH1    285 non-null float64
A067RL1Q156SBEA_CHG    288 non-null float64
A067RL1Q156SBEA_LOG    250 non-null float64
A067RL1Q156SBEA_PC1    285 non-null float64
A067RL1Q156SBEA_PCA    288 non-null float64
A067RL1Q156SBEA_PCH    288 non-null float64
BPCCRO1Q156NBEA        238 non-null float64
BPCCRO1Q156NBEA_CCA    237 non-null float64
BPCCRO1Q156NBEA_CCH    237 non-null float64
BPCCRO1Q156NBEA_CH1    234 non-null float64
BPCCRO1Q156NBEA_CHG    237 non-null float64
BPCCRO1Q156NBEA_LOG    238 non-null float64
BPCCRO1Q156NBEA_PC1    234 non-null float64
BPCCRO1Q156NBEA_PCA    237 non-null float64
BPCCRO1Q156NBEA_PCH    237 non-null float64
CPALTT01USQ659N        238 non-null float64
CPALTT01USQ659N_CCA    230 non-null float64
CPALTT01USQ659N_CCH    230 non-null float64
CPALTT01USQ659N_CH1    234 non-null float64
CPALTT01USQ659N_CHG    237 non-null float64
CPALTT01USQ659N_LOG    233 non-null float64
CPALTT01USQ659N_PC1    234 non-null float64
CPALTT01USQ659N_PCA    237 non-null float64
CPALTT01USQ659N_PCH    237 non-null float64
DPCERO1Q156NBEA        286 non-null float64
DPCERO1Q156NBEA_CCA    261 non-null float64
DPCERO1Q156NBEA_CCH    261 non-null float64
DPCERO1Q156NBEA_CH1    282 non-null float64
DPCERO1Q156NBEA_CHG    285 non-null float64
DPCERO1Q156NBEA_LOG    269 non-null float64
DPCERO1Q156NBEA_PC1    281 non-null float64
DPCERO1Q156NBEA_PCA    284 non-null float64
DPCERO1Q156NBEA_PCH    284 non-null float64
GFDEGDQ188S            214 non-null float64
GFDEGDQ188S_CCA        213 non-null float64
GFDEGDQ188S_CCH        213 non-null float64
GFDEGDQ188S_CH1        210 non-null float64
GFDEGDQ188S_CHG        213 non-null float64
GFDEGDQ188S_LOG        214 non-null float64
GFDEGDQ188S_PC1        210 non-null float64
GFDEGDQ188S_PCA        213 non-null float64
GFDEGDQ188S_PCH        213 non-null float64
GPDI                   290 non-null float64
GPDI_CCA               289 non-null float64
GPDI_CCH               289 non-null float64
GPDI_CH1               286 non-null float64
GPDI_CHG               289 non-null float64
GPDI_LOG               290 non-null float64
GPDI_PC1               286 non-null float64
GPDI_PCA               289 non-null float64
GPDI_PCH               289 non-null float64
M2V                    242 non-null float64
M2V_CCA                241 non-null float64
M2V_CCH                241 non-null float64
M2V_CH1                238 non-null float64
M2V_CHG                241 non-null float64
M2V_LOG                242 non-null float64
M2V_PC1                238 non-null float64
M2V_PCA                241 non-null float64
M2V_PCH                241 non-null float64
MSPUS                  227 non-null float64
MSPUS_CCA              226 non-null float64
MSPUS_CCH              226 non-null float64
MSPUS_CH1              223 non-null float64
MSPUS_CHG              226 non-null float64
MSPUS_LOG              227 non-null float64
MSPUS_PC1              223 non-null float64
MSPUS_PCA              226 non-null float64
MSPUS_PCH              226 non-null float64
NROU                   324 non-null float64
NROU_CCA               323 non-null float64
NROU_CCH               323 non-null float64
NROU_CH1               320 non-null float64
NROU_CHG               323 non-null float64
NROU_LOG               324 non-null float64
NROU_PC1               320 non-null float64
NROU_PCA               323 non-null float64
NROU_PCH               323 non-null float64
PCEC                   290 non-null float64
PCEC_CCA               289 non-null float64
PCEC_CCH               289 non-null float64
PCEC_CH1               286 non-null float64
PCEC_CHG               289 non-null float64
PCEC_LOG               290 non-null float64
PCEC_PC1               286 non-null float64
PCEC_PCA               289 non-null float64
PCEC_PCH               289 non-null float64
TDSP                   158 non-null float64
TDSP_CCA               157 non-null float64
TDSP_CCH               157 non-null float64
TDSP_CH1               154 non-null float64
TDSP_CHG               157 non-null float64
TDSP_LOG               158 non-null float64
TDSP_PC1               154 non-null float64
TDSP_PCA               157 non-null float64
TDSP_PCH               157 non-null float64
dtypes: float64(99), object(1)
memory usage: 259.5+ KB

In [10]:
rename_map = {'A067RL1Q156SBEA':'real_disp_pers_inc',
'A067RL1Q156SBEA_CHG':'real_disp_pers_inc_CHG',
'A067RL1Q156SBEA_CH1':'real_disp_pers_inc_CH1',
'A067RL1Q156SBEA_PCH':'real_disp_pers_inc_PCH',
'A067RL1Q156SBEA_PC1':'real_disp_pers_inc_PC1',
'A067RL1Q156SBEA_PCA':'real_disp_pers_inc_PCA',
'A067RL1Q156SBEA_CCH':'real_disp_pers_inc_CCH',
'A067RL1Q156SBEA_CCA':'real_disp_pers_inc_CCA',
'A067RL1Q156SBEA_LOG':'real_disp_pers_inc_LOG',
'BPCCRO1Q156NBEA':'personal_consumption_exp_excl_food_energy',
'BPCCRO1Q156NBEA_CHG':'personal_consumption_exp_excl_food_energy_CHG',
'BPCCRO1Q156NBEA_CH1':'personal_consumption_exp_excl_food_energy_CH1',
'BPCCRO1Q156NBEA_PCH':'personal_consumption_exp_excl_food_energy_PCH',
'BPCCRO1Q156NBEA_PC1':'personal_consumption_exp_excl_food_energy_PC1',
'BPCCRO1Q156NBEA_PCA':'personal_consumption_exp_excl_food_energy_PCA',
'BPCCRO1Q156NBEA_CCH':'personal_consumption_exp_excl_food_energy_CCH',
'BPCCRO1Q156NBEA_CCA':'personal_consumption_exp_excl_food_energy_CCA',
'BPCCRO1Q156NBEA_LOG':'personal_consumption_exp_excl_food_energy_LOG',
'CPALTT01USQ659N':'cpi_US_total',
'CPALTT01USQ659N_CHG':'cpi_US_total_CHG',
'CPALTT01USQ659N_CH1':'cpi_US_total_CH1',
'CPALTT01USQ659N_PCH':'cpi_US_total_PCH',
'CPALTT01USQ659N_PC1':'cpi_US_total_PC1',
'CPALTT01USQ659N_PCA':'cpi_US_total_PCA',
'CPALTT01USQ659N_CCH':'cpi_US_total_CCH',
'CPALTT01USQ659N_CCA':'cpi_US_total_CCA',
'CPALTT01USQ659N_LOG':'cpi_US_total_LOG',
'GFDEGDQ188S':'tot_public_debt_as_pct_of_gdp',
'GFDEGDQ188S_CHG':'tot_public_debt_as_pct_of_gdp_CHG',
'GFDEGDQ188S_CH1':'tot_public_debt_as_pct_of_gdp_CH1',
'GFDEGDQ188S_PCH':'tot_public_debt_as_pct_of_gdp_PCH',
'GFDEGDQ188S_PC1':'tot_public_debt_as_pct_of_gdp_PC1',
'GFDEGDQ188S_PCA':'tot_public_debt_as_pct_of_gdp_PCA',
'GFDEGDQ188S_CCH':'tot_public_debt_as_pct_of_gdp_CCH',
'GFDEGDQ188S_CCA':'tot_public_debt_as_pct_of_gdp_CCA',
'GFDEGDQ188S_LOG':'tot_public_debt_as_pct_of_gdp_LOG',
'GPDI':'gross_private_domestic_invest',
'GPDI_CHG':'gross_private_domestic_invest_CHG',
'GPDI_CH1':'gross_private_domestic_invest_CH1',
'GPDI_PCH':'gross_private_domestic_invest_PCH',
'GPDI_PC1':'gross_private_domestic_invest_PC1',
'GPDI_PCA':'gross_private_domestic_invest_PCA',
'GPDI_CCH':'gross_private_domestic_invest_CCH',
'GPDI_CCA':'gross_private_domestic_invest_CCA',
'GPDI_LOG':'gross_private_domestic_invest_LOG',
'M2V':'M2_velocity',
'M2V_CHG':'M2_velocity_CHG',
'M2V_CH1':'M2_velocity_CH1',
'M2V_PCH':'M2_velocity_PCH',
'M2V_PC1':'M2_velocity_PC1',
'M2V_PCA':'M2_velocity_PCA',
'M2V_CCH':'M2_velocity_CCH',
'M2V_CCA':'M2_velocity_CCA',
'M2V_LOG':'M2_velocity_LOG',
'MSPUS':'median_sls_price_houses_sold_US',
'MSPUS_CHG':'median_sls_price_houses_sold_US_CHG',
'MSPUS_CH1':'median_sls_price_houses_sold_US_CH1',
'MSPUS_PCH':'median_sls_price_houses_sold_US_PCH',
'MSPUS_PC1':'median_sls_price_houses_sold_US_PC1',
'MSPUS_PCA':'median_sls_price_houses_sold_US_PCA',
'MSPUS_CCH':'median_sls_price_houses_sold_US_CCH',
'MSPUS_CCA':'median_sls_price_houses_sold_US_CCA',
'MSPUS_LOG':'median_sls_price_houses_sold_US_LOG',
'NROU':'nat_rate_of_unemp_long_term',
'NROU_CHG':'nat_rate_of_unemp_long_term_CHG',
'NROU_CH1':'nat_rate_of_unemp_long_term_CH1',
'NROU_PCH':'nat_rate_of_unemp_long_term_PCH',
'NROU_PC1':'nat_rate_of_unemp_long_term_PC1',
'NROU_PCA':'nat_rate_of_unemp_long_term_PCA',
'NROU_CCH':'nat_rate_of_unemp_long_term_CCH',
'NROU_CCA':'nat_rate_of_unemp_long_term_CCA',
'NROU_LOG':'nat_rate_of_unemp_long_term_LOG',
'PCEC':'personal_consumption_expenditures',
'PCEC_CHG':'personal_consumption_expenditures_CHG',
'PCEC_CH1':'personal_consumption_expenditures_CH1',
'PCEC_PCH':'personal_consumption_expenditures_PCH',
'PCEC_PC1':'personal_consumption_expenditures_PC1',
'PCEC_PCA':'personal_consumption_expenditures_PCA',
'PCEC_CCH':'personal_consumption_expenditures_CCH',
'PCEC_CCA':'personal_consumption_expenditures_CCA',
'PCEC_LOG':'personal_consumption_expenditures_LOG',
'TDSP':'hh_debt_service_pmts_as_pct_of_disp_personal_income',
'TDSP_CHG':'hh_debt_service_pmts_as_pct_of_disp_personal_income_CHG',
'TDSP_CH1':'hh_debt_service_pmts_as_pct_of_disp_personal_income_CH1',
'TDSP_PCH':'hh_debt_service_pmts_as_pct_of_disp_personal_income_PCH',
'TDSP_PC1':'hh_debt_service_pmts_as_pct_of_disp_personal_income_PC1',
'TDSP_PCA':'hh_debt_service_pmts_as_pct_of_disp_personal_income_PCA',
'TDSP_CCH':'hh_debt_service_pmts_as_pct_of_disp_personal_income_CCH',
'TDSP_CCA':'hh_debt_service_pmts_as_pct_of_disp_personal_income_CCA',
'TDSP_LOG':'hh_debt_service_pmts_as_pct_of_disp_personal_income_LOG'}

In [13]:
# Rename columns
df_rename = df_rename.rename(rename_map, axis=1)
df_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 100 columns):
quarter                                                    332 non-null object
real_disp_pers_inc                                         289 non-null float64
real_disp_pers_inc_CCA                                     218 non-null float64
real_disp_pers_inc_CCH                                     218 non-null float64
real_disp_pers_inc_CH1                                     285 non-null float64
real_disp_pers_inc_CHG                                     288 non-null float64
real_disp_pers_inc_LOG                                     250 non-null float64
real_disp_pers_inc_PC1                                     285 non-null float64
real_disp_pers_inc_PCA                                     288 non-null float64
real_disp_pers_inc_PCH                                     288 non-null float64
personal_consumption_exp_excl_food_energy                  238 non-null float64
personal_consumption_exp_excl_food_energy_CCA              237 non-null float64
personal_consumption_exp_excl_food_energy_CCH              237 non-null float64
personal_consumption_exp_excl_food_energy_CH1              234 non-null float64
personal_consumption_exp_excl_food_energy_CHG              237 non-null float64
personal_consumption_exp_excl_food_energy_LOG              238 non-null float64
personal_consumption_exp_excl_food_energy_PC1              234 non-null float64
personal_consumption_exp_excl_food_energy_PCA              237 non-null float64
personal_consumption_exp_excl_food_energy_PCH              237 non-null float64
cpi_US_total                                               238 non-null float64
cpi_US_total_CCA                                           230 non-null float64
cpi_US_total_CCH                                           230 non-null float64
cpi_US_total_CH1                                           234 non-null float64
cpi_US_total_CHG                                           237 non-null float64
cpi_US_total_LOG                                           233 non-null float64
cpi_US_total_PC1                                           234 non-null float64
cpi_US_total_PCA                                           237 non-null float64
cpi_US_total_PCH                                           237 non-null float64
DPCERO1Q156NBEA                                            286 non-null float64
DPCERO1Q156NBEA_CCA                                        261 non-null float64
DPCERO1Q156NBEA_CCH                                        261 non-null float64
DPCERO1Q156NBEA_CH1                                        282 non-null float64
DPCERO1Q156NBEA_CHG                                        285 non-null float64
DPCERO1Q156NBEA_LOG                                        269 non-null float64
DPCERO1Q156NBEA_PC1                                        281 non-null float64
DPCERO1Q156NBEA_PCA                                        284 non-null float64
DPCERO1Q156NBEA_PCH                                        284 non-null float64
tot_public_debt_as_pct_of_gdp                              214 non-null float64
tot_public_debt_as_pct_of_gdp_CCA                          213 non-null float64
tot_public_debt_as_pct_of_gdp_CCH                          213 non-null float64
tot_public_debt_as_pct_of_gdp_CH1                          210 non-null float64
tot_public_debt_as_pct_of_gdp_CHG                          213 non-null float64
tot_public_debt_as_pct_of_gdp_LOG                          214 non-null float64
tot_public_debt_as_pct_of_gdp_PC1                          210 non-null float64
tot_public_debt_as_pct_of_gdp_PCA                          213 non-null float64
tot_public_debt_as_pct_of_gdp_PCH                          213 non-null float64
gross_private_domestic_invest                              290 non-null float64
gross_private_domestic_invest_CCA                          289 non-null float64
gross_private_domestic_invest_CCH                          289 non-null float64
gross_private_domestic_invest_CH1                          286 non-null float64
gross_private_domestic_invest_CHG                          289 non-null float64
gross_private_domestic_invest_LOG                          290 non-null float64
gross_private_domestic_invest_PC1                          286 non-null float64
gross_private_domestic_invest_PCA                          289 non-null float64
gross_private_domestic_invest_PCH                          289 non-null float64
M2_velocity                                                242 non-null float64
M2_velocity_CCA                                            241 non-null float64
M2_velocity_CCH                                            241 non-null float64
M2_velocity_CH1                                            238 non-null float64
M2_velocity_CHG                                            241 non-null float64
M2_velocity_LOG                                            242 non-null float64
M2_velocity_PC1                                            238 non-null float64
M2_velocity_PCA                                            241 non-null float64
M2_velocity_PCH                                            241 non-null float64
median_sls_price_houses_sold_US                            227 non-null float64
median_sls_price_houses_sold_US_CCA                        226 non-null float64
median_sls_price_houses_sold_US_CCH                        226 non-null float64
median_sls_price_houses_sold_US_CH1                        223 non-null float64
median_sls_price_houses_sold_US_CHG                        226 non-null float64
median_sls_price_houses_sold_US_LOG                        227 non-null float64
median_sls_price_houses_sold_US_PC1                        223 non-null float64
median_sls_price_houses_sold_US_PCA                        226 non-null float64
median_sls_price_houses_sold_US_PCH                        226 non-null float64
nat_rate_of_unemp_long_term                                324 non-null float64
nat_rate_of_unemp_long_term_CCA                            323 non-null float64
nat_rate_of_unemp_long_term_CCH                            323 non-null float64
nat_rate_of_unemp_long_term_CH1                            320 non-null float64
nat_rate_of_unemp_long_term_CHG                            323 non-null float64
nat_rate_of_unemp_long_term_LOG                            324 non-null float64
nat_rate_of_unemp_long_term_PC1                            320 non-null float64
nat_rate_of_unemp_long_term_PCA                            323 non-null float64
nat_rate_of_unemp_long_term_PCH                            323 non-null float64
personal_consumption_expenditures                          290 non-null float64
personal_consumption_expenditures_CCA                      289 non-null float64
personal_consumption_expenditures_CCH                      289 non-null float64
personal_consumption_expenditures_CH1                      286 non-null float64
personal_consumption_expenditures_CHG                      289 non-null float64
personal_consumption_expenditures_LOG                      290 non-null float64
personal_consumption_expenditures_PC1                      286 non-null float64
personal_consumption_expenditures_PCA                      289 non-null float64
personal_consumption_expenditures_PCH                      289 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income        158 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_CCA    157 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_CCH    157 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_CH1    154 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_CHG    157 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_LOG    158 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_PC1    154 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_PCA    157 non-null float64
hh_debt_service_pmts_as_pct_of_disp_personal_income_PCH    157 non-null float64
dtypes: float64(99), object(1)
memory usage: 259.5+ KB